{% load static %}
<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="https://images.unsplash.com/photo-1445205170230-053b83016050?w=400&h=400&fit=crop">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@dhhDRIP_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?w=400&h=400&fit=crop">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@dhhDRIP_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=400&h=400&fit=crop">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@dhhDRIP_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="https://images.unsplash.com/photo-1483985988350-763728e36855?w=400&h=400&fit=crop">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@dhhDRIP_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="https://images.unsplash.com/photo-1469334031218-e382a71b716b?w=400&h=400&fit=crop">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@dhhDRIP_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="https://images.unsplash.com/photo-1509631179647-0177331693ae?w=400&h=400&fit=crop">
                    <div class="instagram__text">
                        <i class="fa fa-instagram"></i>
                        <a href="#">@dhhDRIP_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Instagram End -->
